<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志文件的存储位置 -->
    <property name="LOGS" value="./logs" />

    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}][%X{spanId}][%thread] %-5level %logger{36} - %msg " />
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 按天滚动的日志文件 -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/bank-transaction.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天生成一个新的日志文件 -->
            <fileNamePattern>${LOGS}/bank-transaction-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留最近 30 天的日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 配置日志级别 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </root>

    <!-- 设置特定包的日志级别 -->
    <logger name="com.example.banktransactions" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </logger>
</configuration>